.logo {
  width:3vw;
  margin: 1vw;
  border: 2px solid #ffa600;
  cursor: pointer;
  border-radius: 50%;
  z-index: 5;
}

nav ul {
  list-style: none;
}

li {
  display: inline;
  margin-right: 3rem;
  font-size: 18px;
}

nav ul li:hover {
  color: #ffb12a;
  /* border-bottom: 2px solid #62f9d5; */
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 5;
}

@media all and (max-width: 560px) {
  nav {
    display: none;
  }
  .logo {
    width: 12%;
    z-index: 50;
  }
  .navContainer {
    padding: 0;
    position: fixed;
    /* background-color: #1b1d3a; */
    z-index: 5;
  }
}
